@model CoreNetDevelopment.Models.Restaurant

<body>
    <h1>Welcome!</h1>
    <h1>@Model.Name</h1>
    <h3>@Model.Id</h3>

    <div>
        @Html.ActionLink("Go to Home", "Index", "Home")
    </div>
</body>

