@model CoreNetDevelopment.Models.Restaurant
@{
    ViewBag.Title = Model.Name;
}

<body>
    <h1>Welcome!</h1>
    <h1>@Model.Name serves @Model.CuisineType</h1>
    <h3>@Model.Id</h3>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-sm">Go to Home</a>
</div>
</body>

