@model CoreNetDevelopment.Models.Restaurant
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Model.Name</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h1>@Model.Name</h1>

<div>
    @Html.ActionLink("Go to Home", "Index", "Home")
</div>
</body>

</html>