@using CoreNetDevelopment.Models
@model CoreNetDevelopment.Models.Restaurant

@{
    ViewBag.Title = $"Edit {Model.Name}";
}

<body>
    <h1>Edit @Model.Name</h1>

    <form asp-action="edit" method="post">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="CuisineType"></label>
            <select asp-for="CuisineType" asp-items="@Html.GetEnumSelectList(typeof(CuisineType))"></select>
        </div>
        <div>
            <input type="submit" value="Save Changes" />
        </div>
    </form>
</body>
