@model CoreNetDevelopment.ViewModels.HomeViewModel

<h1>Welcome!</h1>
<table class="table table-responsive table-hover">
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var restaurant in Model.Restaurants)
    {
        @Html.Partial("_Summary", restaurant)
    }
    </tbody>
</table>


