@model CoreNetDevelopment.ViewModels.HomeViewModel

<h1>Welcome!</h1>
<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>
                <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Details" asp-route-id="@restaurant.Id">Details</a>
                <a class="btn btn-warning btn-sm" asp-controller="Home" asp-action="Edit" asp-route-id="@restaurant.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>
